<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Django App{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>
                App
            </h1>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <span>
                <p>Aplicación creada por Joel Romero</p>
            </span>
        </footer>
    </body>
</html>