
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>{% block title %}Django App{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        <link rel="stylesheet" href="{% static 'styles/list.css' %}">
        

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>
                App
            </h1>
            <nav>
                <button class="nav-item">
                    <a href="{% url 'listar_edificios' %}">Edificios</a>
                </button>
                <button class="nav-item">
                    <a href="{% url 'listar_departamentos' %}">Departamentos</a>
                </button>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <span>
                <p>Aplicación creada por Joel Romero</p>
            </span>
        </footer>
    </body>
</html>