{% extends "base.html" %}

{% block title %}
Lista de {{ title }}
{% endblock %}

{% block content %}

<section>
    <div class="section-header">
        <h2>{{ title }}</h2>
        <p><b>Número registros:</b> {{ numero_registros }}</p>
    </div>

    <article>
        <div>
            {% if type == "edificios" %}
            <a href="{% url 'crear_edificio' %}" style="color: black;">
                <p>Crear nuevo</p>
            </a>
            {% elif type == "departamentos" %}
            <a href="{% url 'crear_departamento' %}" style="color: black;">
                <p>Crear nuevo</p>
            </a>
            {% endif %}
        </div>

        <div class="section-cards">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        {% if type == "edificios" %}
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Ciudad</th>
                        <th>Tipo</th>
                        {% elif type == "departamentos" %}
                        <th>Nombre Propietario</th>
                        <th>Costo</th>
                        <th>Número de Cuartos</th>
                        <th>Edificio</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        {% if type == "edificios" %}
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.direccion }}</td>
                        <td>{{ item.ciudad }}</td>
                        <td>{{ item.tipo }}</td>
                        {% elif type == "departamentos" %}
                        <td>{{ item.nombre_propietario }}</td>
                        <td>{{ item.costo }}</td>
                        <td>{{ item.numero_cuartos }}</td>
                        <td>{{ item.edificio.nombre }}</td>
                        {% endif %}
                        <td><div class="card-buttons">
                            {% if type == "edificios" %}
                            <button><a
                                    href="{% url 'editar_edificio' item.id %}">Editar</a></button>
                            <button><a
                                    href="{% url 'eliminar_edificio' item.id %}">Eliminar</a></button>
                            {% elif type == "departamentos" %}
                            <button><a
                                    href="{% url 'editar_departamento' item.id %}">Editar</a></button>
                            <button><a
                                    href="{% url 'eliminar_departamento' item.id %}">Eliminar</a></button>
                            {% endif %}
                        </div>
                    </td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>

    </article>
</section>
{% endblock %}
